{% extends "base.html" %} {% block content %}
<div class="w-screen p-4 flex flex-col items-center">
	<h1 class='font-bold mb-5'>{{object.name}}</h1>
	<p class='mb-5'>Email: {{object.email}}</p>
	<p class='mb-5'>CPF: {{object.cpf}}</p>
	<p class='mb-5'>Salário: R${{object.salary}}</p>
	<a class='font-bold rounded-md border-gray-400 border-2 p-1 mb-5 hover:cursor-pointer' href="/editor/editar/{{object.cpf}}">Editar</a>
	<a class='font-bold rounded-md border-gray-400 border-2 p-1 mb-5 hover:cursor-pointer' href="/editor/remover/{{object.id}}">Remover</a>
	{% if books %}
	<p class="font-bold mb-5">Livros</p>
	<div class="flex gap-4 flex-wrap">
		{% for book in books %}
		<a href="/livro/{{book.isbn_code}}">
			<div class="rounded p-2 text-white bg-gray-500">{{book.title}}</div>
		</a>
		{% empty %}
		<p>Este editor não editou nenhum livro ainda</p>
		{% endfor %}
	</div>
	{% endif %}
</div>

{% endblock %}
