{% extends "base.html" %} {% block content %}
<div class="w-screen p-4 flex flex-col items-center">
	<h1 class='font-bold mb-5'>{{object}}</h1>
	<p class="font-bold mb-5">Ingrediente: {{ingrediente}}</p>
	{% if ingredient_amount %}
	<p class="font-bold mb-5">Quantidade: {{ingredient_amount}}</p>
	{% endif %}
	{% if measurement %}
	<p class="font-bold mb-5">Medida: {{measurement}}</p>
	{% endif %}
	<a class='font-bold rounded-md border-gray-400 border-2 p-1 mb-5 hover:cursor-pointer' href="/porcao/editar/{{object.id}}">Editar</a>
	<a class='font-bold rounded-md border-gray-400 border-2 p-1 hover:cursor-pointer' href="/porcao/remover/{{object.id}}">Remover</a>
</div>

{% endblock %}
